img {
    width: 500px;
    height: auto;
    margin-right: 5%;
}

main .hairStylist, .assistent, .security {
    display: flex;
    flex-direction: row;
    margin: 5%;
}

main .hairStylist {
    border: 5px solid lightseagreen;
}

main .assistent {
    flex-direction: row-reverse;
    border: 5px solid blue;
}

main .security {
    border: 5px solid black;
}

@media (max-width: 800px) {
    nav {
        display: flex;
        flex-direction: column;
            }
}

@media (max-width: 800px) {
    main .hairStylist, .security {
        display: flex;
        flex-direction: column;
        margin: 0;
}

@media (max-width: 800px) {
    main .assistent {
        display: flex;
        flex-direction: column;
        margin: 0;
}

@media (max-width: 800px) {
    img {
        width: 150px;
        height: auto;
            }
}